*.project
*.DS_Store
/.idea/
/.vscode/
/.history/
/tmp/
.settings/
*.o
*.lo
*.Po
*.Plo
*.zip
*.tar.gz
*.lock
*.bak
/bak/
/out/
*.idea/
/temp/
/dist/
/third-party/
/api/proto/out
/deployments
/lmSdkClient/lmSdkClient
go.mod
go.sum
cmd/web/node_modules